.about-section {
    padding: 4rem 2rem;
    min-height: 100vh;
}
  
.about-heading {
    text-align: center;
    font-family: 'dogica', sans-serif;
    font-size: 1.5rem;
}
  
.about-summary {
    max-width: 600px;
    margin: 0 auto 4rem;
    text-align: center;
    font-family: 'dogica', sans-serif;
    font-size: .75rem;
    line-height: 1.6;
}
  
.content-box {
    font-family: 'dogica', sans-serif;
    background: #5971943d;
    border: 1px solid #597394;
    border-radius: 12px;
    padding: 1rem 1rem;
    position: relative;
    margin: 1rem;
    max-width: 650px;
    width: 100%;
}
  
.about-section .content-box h3 {
    margin-top: 15px;
    color: #c03c29;
    font-size: .75rem;
}

.content-box p {
    margin-top: 15px;
    color: #597394;
    font-size: .75rem;
}

.arrow-image {
    position: relative;
    width: auto;
    height: 40px;
    margin-top: -20px;
    margin-bottom: -30px;
    z-index: 2;
}

.experience-boxes {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontally center children */
}

.experience-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 650px;
    position: relative;
}